{% extends './layout.html' %}

{% block title %}ARU - UMSA{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="display-1 text-warning">Prototipo de Análisis y Búsqueda de Resoluciones Universitarias</h1>
    <H3 class="display-5 fw-bold text-warning">UNIVERSIDAD MAYOR DE SAN ANDRÉS</H3>
    <p class="lead">Página desarrollada como prototipo para el despliegue y prueba de análisis y búsqueda de resoluciones universitarias dentro de la Facultad de Ciencias y Naturales en la Universidad Mayor de San Andrés.</p>
    <p class="lead">Todo el trabajo que se presenta en el prototipo solamente tiene fines académicos y toda la documentación se encuentra en la Gaceta Universitaria.</p>
    <a href="https://gaceta.umsa.bo/" class="btn btn-info border-white" target="_blank">Gaceta Universitaria</a>
</div>
{% endblock %}